<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG3TiwS7FLr1YJVX_LOlUlYXPMDmzpdWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>412480008483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ma.sevenhanouti.ma7anouti</string>
	<key>PROJECT_ID</key>
	<string>x7anouti</string>
	<key>STORAGE_BUCKET</key>
	<string>x7anouti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412480008483:ios:ab85573a07197c00141c96</string>
</dict>
</plist>